In [4]:
import datapackage
import pandas as pd

data_url = 'https://datahub.io/core/s-and-p-500-companies/datapackage.json'

# to load Data Package into storage
package = datapackage.Package(data_url)

# to load only tabular data
resources = package.resources
for resource in resources:
    if resource.tabular:
        data = pd.read_csv(resource.descriptor['path'])
        print (resource.descriptor)

{'bytes': 17945, 'datahub': {'derivedFrom': ['constituents'], 'type': 'derived/csv'}, 'dialect': {'delimiter': ',', 'doubleQuote': True, 'lineTerminator': '\r\n', 'quoteChar': '"', 'skipInitialSpace': False}, 'dpp:streamedFrom': 'https://s3.amazonaws.com/rawstore.datahub.io/1beb8c524488247ccb27917bfcb581ec.csv', 'encoding': 'utf-8', 'format': 'csv', 'hash': '1beb8c524488247ccb27917bfcb581ec', 'mediatype': 'text/csv', 'name': 'constituents_csv', 'path': 'https://pkgstore.datahub.io/core/s-and-p-500-companies/constituents_csv/data/1beb8c524488247ccb27917bfcb581ec/constituents_csv.csv', 'pathType': 'local', 'profile': 'data-resource', 'rowcount': 505, 'schema': {'fields': [{'description': '', 'name': 'Symbol', 'type': 'string'}, {'description': '', 'name': 'Name', 'type': 'string'}, {'description': '', 'name': 'Sector', 'type': 'string'}]}, 'signed': True}
{'bytes': 17439, 'datahub': {'type': 'source/tabular'}, 'dpp:streamedFrom': 'https://s3.amazonaws.com/rawstore.datahub.io/1beb8c524488247ccb27917bfcb581ec.csv', 'encoding': 'UTF-8', 'format': 'csv', 'mediatype': 'text/csv', 'name': 'constituents', 'path': 'https://pkgstore.datahub.io/core/s-and-p-500-companies/constituents/archive/1beb8c524488247ccb27917bfcb581ec/constituents.csv', 'pathType': 'local', 'profile': 'data-resource', 'schema': {'fields': [{'description': '', 'name': 'Symbol', 'type': 'string'}, {'description': '', 'name': 'Name', 'type': 'string'}, {'description': '', 'name': 'Sector', 'type': 'string'}]}, 'signed': True}

In [1]:
import pandas as pd
x = pd.read_html("https://en.wikipedia.org/wiki/List_of_S%26P_500_companies")

In [2]:
x

[    Symbol              Security SEC filings             GICS Sector  \
 0      MMM                    3M     reports             Industrials
 1      AOS           A. O. Smith     reports             Industrials
 2      ABT                Abbott     reports             Health Care
 3     ABBV                AbbVie     reports             Health Care
 4     ABMD               Abiomed     reports             Health Care
 ..     ...                   ...         ...                     ...
 498    YUM           Yum! Brands     reports  Consumer Discretionary
 499   ZBRA    Zebra Technologies     reports  Information Technology
 500    ZBH         Zimmer Biomet     reports             Health Care
 501   ZION  Zions Bancorporation     reports              Financials
 502    ZTS                Zoetis     reports             Health Care

                       GICS Sub-Industry    Headquarters Location  \
 0              Industrial Conglomerates    Saint Paul, Minnesota
 1                     Building Products     Milwaukee, Wisconsin
 2                 Health Care Equipment  North Chicago, Illinois
 3                       Pharmaceuticals  North Chicago, Illinois
 4                 Health Care Equipment   Danvers, Massachusetts
 ..                                  ...                      ...
 498                         Restaurants     Louisville, Kentucky
 499  Electronic Equipment & Instruments   Lincolnshire, Illinois
 500               Health Care Equipment          Warsaw, Indiana
 501                      Regional Banks     Salt Lake City, Utah
 502                     Pharmaceuticals   Parsippany, New Jersey

     Date first added      CIK      Founded
 0         1976-08-09    66740         1902
 1         2017-07-26    91142         1916
 2         1964-03-31     1800         1888
 3         2012-12-31  1551152  2013 (1888)
 4         2018-05-31   815094         1981
 ..               ...      ...          ...
 498       1997-10-06  1041061         1997
 499       2019-12-23   877212         1969
 500       2001-08-07  1136869         1927
 501       2001-06-22   109380         1873
 502       2013-06-21  1555280         1952

 [503 rows x 9 columns],
                  Date  Added                                Removed  \
                  Date Ticker                       Security  Ticker
 0       June 21, 2022    KDP               Keurig Dr Pepper  UA/UAA
 1       June 21, 2022     ON               ON Semiconductor    IPGP
 2        June 8, 2022   VICI                Vici Properties    CERN
 3       April 4, 2022    CPT          Camden Property Trust    PBCT
 4       March 2, 2022    MOH              Molina Healthcare    INFO
 ..                ...    ...                            ...     ...
 297     July 27, 2000   JDSU                   JDS Uniphase     RAD
 298     June 12, 2000    CVG                      Convergys     TMC
 299      June 7, 2000   SBUX                      Starbucks     SMS
 300  December 7, 1999   YHOO                         Yahoo!     LDW
 301     June 17, 1997    CCI  Countrywide Credit Industries     USL

                                 \
                       Security
 0                 Under Armour
 1                IPG Photonics
 2                       Cerner
 3    People's United Financial
 4                   IHS Markit
 ..                         ...
 297                    RiteAid
 298               Times Mirror
 299     Shared Medical Systems
 300                    Laidlaw
 301                     USLife

                                                 Reason
                                                 Reason
 0                     Market capitalization change.[5]
 1                     Market capitalization change.[5]
 2    S&P 500 constituent Oracle Corp. acquired Cern...
 3    S&P 500 constituent M&T Bank Corp. acquired Pe...
 4    S&P 500 constituent S&P Global Inc. acquired I...
 ..                                                 ...
 297                            Market Cap change.[229]
 298            Tribune Co. acquired Times Mirror.[230]
 299   Siemens AG acquired Shared Medical Systems.[231]
 300                 Market capitalization change.[232]
 301                          AIG acquired USLife.[233]

 [302 rows x 6 columns]]

In [3]:
len(x)

2

In [6]:
x[0].Symbol

0       MMM
1       AOS
2       ABT
3      ABBV
4      ABMD
       ...
498     YUM
499    ZBRA
500     ZBH
501    ZION
502     ZTS
Name: Symbol, Length: 503, dtype: object

In [1]:
from valuation import get_sp500_constituents
get_sp500_constituents()

0       MMM
1       AOS
2       ABT
3      ABBV
4      ABMD
       ...
498     YUM
499    ZBRA
500     ZBH
501    ZION
502     ZTS
Name: Symbol, Length: 503, dtype: object

In [3]:
import os
import fmpsdk

with open('.apikey') as f:
    apikey = f.read().strip()

# Company Valuation Methods

symbol = "FTNT"
print(f"Company Profile: {fmpsdk.company_profile(apikey=apikey, symbol=symbol)=}")

Company Profile: fmpsdk.company_profile(apikey=apikey, symbol=symbol)=[{'symbol': 'FTNT', 'price': 59.62, 'beta': 1.180928, 'volAvg': 6546906, 'mktCap': 47853158400, 'lastDiv': 0.0, 'range': '48.726-74.354', 'changes': -2.6599998, 'companyName': 'Fortinet, Inc.', 'currency': 'USD', 'cik': '0001262039', 'isin': 'US34959E1091', 'cusip': '34959E109', 'exchange': 'NASDAQ Global Select', 'exchangeShortName': 'NASDAQ', 'industry': 'Software—Infrastructure', 'website': 'https://www.fortinet.com', 'description': 'Fortinet, Inc. provides broad, integrated, and automated cybersecurity solutions in the Americas, Europe, the Middle East, Africa, and the Asia Pacific. It offers FortiGate hardware and software licenses that provide various security and networking functions, including firewall, intrusion prevention, anti-malware, virtual private network, application control, web filtering, anti-spam, and wide area network acceleration. The company also provides FortiSwitch product family that offers secure switching solutions for connecting customers their end devices; FortiAP product family, which provides secure wireless networking solutions; FortiExtender, a hardware appliance; FortiAnalyzer product family, which offers centralized network logging, analyzing, and reporting solutions; and FortiManager product family that provides central and scalable management solution for its FortiGate products. It offers FortiWeb product family provides web application firewall solutions; FortiMail product family that secure email gateway solutions; FortiSandbox technology that delivers proactive detection and mitigation services; FortiClient that provides endpoint protection with pattern-based anti-malware, behavior-based exploit protection, web-filtering, and an application firewall; FortiToken and FortiAuthenticator product families for multi-factor authentication to safeguard systems, assets, and data; and FortiEDR/XDR, an endpoint protection solution that provides both comprehensive machine-learning anti-malware execution and real-time post-infection protection. It provides security subscription, technical support, professional, and training services. It sells its security solutions to channel partners and directly to various customers in telecommunications, technology, government, financial services, education, retail, manufacturing, and healthcare industries. It has strategic alliance with Linksys. Fortinet, Inc. was incorporated in 2000 and is headquartered in Sunnyvale, California.', 'ceo': 'Mr. Ken Xie', 'sector': 'Technology', 'country': 'US', 'fullTimeEmployees': '10860', 'phone': '14082357700', 'address': '899 Kifer Rd', 'city': 'Sunnyvale', 'state': 'CALIFORNIA', 'zip': '94086', 'dcfDiff': 7.89408, 'dcf': 67.5141, 'image': 'https://financialmodelingprep.com/image-stock/FTNT.png', 'ipoDate': '2009-06-08', 'defaultImage': False, 'isEtf': False, 'isActivelyTrading': True, 'isAdr': False, 'isFund': False}]

In [4]:
import os
import fmpsdk

with open('.apikey') as f:
    apikey = f.read().strip()

# Company Valuation Methods

symbol = "AAPL"
period = "quarter"
x = fmpsdk.cash_flow_statement(apikey=apikey, symbol=symbol)

In [9]:
import pandas as pd
statements = x
period = 'quarter'
data = [(x['date'], x['freeCashFlow']) for x in statements]
df = pd.DataFrame(data, columns=[period, 'free_cashflow'])
df

      quarter  free_cashflow
0  2021-09-25    92953000000
1  2020-09-26    73365000000
2  2019-09-28    58896000000
3  2018-09-29    64121000000
4  2017-09-30    50803000000

In [3]:
from datetime import datetime
datetime.now()

datetime.datetime(2022, 7, 14, 11, 51, 3, 33137)

In [4]:
datetime.now()

datetime.datetime(2022, 7, 14, 11, 51, 27, 142489)

In [5]:
x = lambda : print("hello")

In [6]:
x()

hello

In [10]:
x =

In [15]:
type(x[0]['marketCap'])

int

In [1]:
from valuation import get_market_cap
get_market_cap('FTNT')

47853158400

In [1]:
from valuation import get_historic_fcf
get_historic_fcf('FTNT', 'annual')

       annual  free_cashflow
0  2021-12-31     1203800000
1  2020-12-31      957800000
2  2019-12-31      715800000
3  2018-12-31      585900000
4  2017-12-31      459093000